body {
    font-family: 'Raleway';
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #15EDED , #029cf5);
}

.form-profile{
    margin-top: 60px;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    display: flex;
    background-color: #272527;
    border-color: black;
    width: 450px;
    height: 483px;
    border-radius: 12px;
}

img {
    color: #334e64;
    margin-top: -50px;
    width: 143px;
    height: 143px;
    border-radius: 9999px;
}


.profile-fullname {
    margin: 3vh;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Raleway';
    color: #658eff;
}

.role {
    font-family: 'Raleway';
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin: 1vh;
    margin-top: -10px;
}

.place {
    font-family: 'Raleway';
    color: white;
    font-size: 18px;
    font-weight: 300;
    margin: -10px;
}

.lienlac {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Thay đổi giá trị để điều chỉnh khoảng cách từ phần tử trên xuống */
}

.lienlac a {
    margin: 0 10px; /* Thay đổi giá trị để điều chỉnh khoảng cách giữa các nút */
}

.lienlac button {
    border-radius: 12px;
    border: none;
    height: 64px;
    width: 64px;
    font-size: 36px;
    cursor: pointer;
}

.fa-brands {
    font-size: inherit;
}


.lienlac-fb {
    color: #0866FF;
}

iframe {
    margin-top: 30px;
}

.sologen {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Raleway';
    color: white;
    margin: -20px;
}